chroma-hnswlib==0.7.6
faiss-cpu==1.11.0
fasttext==0.9.3
httptools==0.6.4
inltk==0.9
ipykernel==6.29.5
langchain-chroma==0.2.3
langchain-community==0.3.23
langchain-huggingface==0.2.0
langgraph==0.4.2
llama-index==0.12.34
pickleshare==0.7.5
pip==25.1
torchaudio==2.7.0+cu128
uvloop==0.21.0
watchfiles==1.0.5
websockets==15.0.1
wheel==0.45.1
